<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="Debug" filename="src/main/resources/debug_output.log" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="error">
            <AppenderRef ref="Debug"/>
        </Root>

        <Logger name="service" level="info" additivity="false">
            <AppenderRef ref="Debug"/>
        </Logger>

        <Logger name="server" level="debug" additivity="false">
            <AppenderRef ref="Debug"/>
        </Logger>
    </Loggers>
</Configuration>
